.formato {
    color: red;
        }

.error {
    border: solid 2px red;
    color: red;
}
#contadores {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ec1515;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.borde {
    border: double 8px red;
  }
  
  img{
    width:180px;
  }
